.DS_Store
node_modules
.pnpm
/dist
/build
/.turbo
**/.turbo
**/.next
/.vercel
.env
.env.*
!.env.example
/coverage
/playwright-report
**/test-results/
tooling/playwright/test-results/
/tmp
/.idea
/.vscode
